.containerBook {
  background-color: transparent !important;
}

.containerBook.darkened {
  transition: background-color 1s ease-in-out !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.containerBook.darkened .front,
.containerBook.darkened .back {
  box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.7),
    /* Bright yellow glow */ 0 0 20px 10px rgba(255, 255, 255, 0.5),
    /* Faded white outer glow */ 0 0 30px 15px rgba(255, 255, 0, 0.3);
  transition: box-shadow 2s ease-in-out;
}

.containerBook.scaling {
  // transition: transform 5s cubic-bezier(0.11, 0, 0.5, 0) !important;
  transition: transform 2s ease-in-out !important;
  transform: scale(5);
}

// animation css ===============================================================
/* Spark animation */

/* Adjusted Spark animation */
@keyframes spark {
  0%,
  100% {
    transform: scale(0) translateY(0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: scale(1) translateY(-300px) rotate(180deg);
    opacity: 1;
  }
}

.containerBook.darkened .front::before,
.containerBook.darkened .front::after,
.containerBook.darkened .back::before,
.containerBook.darkened .back::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 0, 0.8) 50%,
    rgba(255, 165, 0, 0) 100%
  );
  box-shadow: 0 0 50px 25px rgba(255, 255, 255, 0.9),
    0 0 100px 50px rgba(255, 255, 0, 0.8), 0 0 150px 75px rgba(255, 165, 0, 0.6),
    0 0 200px 100px rgba(255, 69, 0, 0.4);
  animation: spark 2s forwards; /* Run once over 2 seconds */
  filter: blur(5px);
}

.containerBook.darkened .front::before,
.containerBook.darkened .back::before {
  left: calc(50% - 125px);
  bottom: -125px;
  animation-delay: 0.5s; /* Adjusted for quicker start */
}

.containerBook.darkened .front::after,
.containerBook.darkened .back::after {
  left: calc(50% - 125px);
  bottom: -125px;
  animation-delay: 1s; /* Adjusted for quicker start */
}

/* Adjusted scaling transition */
.containerBook.scaling {
  transition: transform 2s cubic-bezier(0.11, 0, 0.5, 0) !important;
  transform: scale(5);
}

/* Adjusted outer glow transition */
.containerBook.darkened .front,
.containerBook.darkened .back {
  box-shadow: 0 0 50px 25px rgba(255, 255, 255, 0.3),
    0 0 100px 50px rgba(255, 255, 0, 0.2), 0 0 150px 75px rgba(255, 165, 0, 0.1),
    0 0 200px 100px rgba(255, 69, 0, 0.05);
  transition: box-shadow 2s ease-in-out; /* Adjusted duration */
}

// animation css finished =====================================

#root,
.App {
  background-color: transparent;
}
body {
  margin: 0;
  overflow: hidden;
  font-family: "exo2-regular";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  //   padding-top: 60px;
  background-color: transparent;
  // background-image: url("https://media.istockphoto.com/id/2164312085/ro/vector/books-seamless-pattern-hand-drawn-doodle-style.jpg?s=612x612&w=0&k=20&c=XPYtl-DE3RJ1rkE76NcqaiEt41NJTVasS7jF8v_iuWg="); /* Replace with the path to your image */
  // background-size: cover; /* Make the image cover the entire screen */
  // background-position: center; /* Center the background image */
  // background-repeat: no-repeat;
}

// "https://media.istockphoto.com/id/2147679887/ro/vector/c%C4%83r%C8%9Bi-ilustra%C8%9Bii-desenate-manual-model-f%C4%83r%C4%83-sudur%C4%83-schi%C8%9Ba%C8%9Bi-arta-diferitelor-c%C4%83r%C8%9Bi-de.jpg?s=1024x1024&w=is&k=20&c=ZUMYTzUninga7a52ZeIb50COLuefE8gGNToqbxcOv5c="

* {
  box-sizing: border-box;
}

.global-text-page {
  overflow: hidden;
}

/* If you want to allow scrolling within the book pages, but hide the scrollbar */
.global-text-page > div {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.global-text-page > div::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none; /* Chrome, Safari, Opera*/
}

h2 {
  margin: 0;
  line-height: 1;
}

p {
  margin: 0;
  line-height: 1;
}

@media (min-width: 1300px) and (max-width: 2500px) {
  .book-text {
    font-size: 1.4vw !important;
  }
  .book-heading {
    font-size: 2.3vw !important;
  }
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .book-text {
    font-size: 1.3vw !important;
  }
  .book-heading {
    font-size: 1.6vw !important;
  }
  .containerBook {
    height: 50vw !important;
  }
}

@media (min-width: 750px) and (max-width: 1000px) {
  .book-text {
    font-size: 1.2vw !important;
  }
  .book-heading {
    font-size: 1.6vw !important;
  }
  .containerBook {
    height: 50vw !important;
  }
}

@media (min-width: 650px) and (max-width: 750px) {
  .book-text {
    font-size: 2.4vw !important;
  }
  .book-heading {
    font-size: 2.8vw !important;
  }

  .hide-on-small {
    display: none;
  }

  .containerBook {
    height: 100vw !important;
  }
}

@media (min-width: 450px) and (max-width: 650px) {
  .book-text {
    font-size: 2.45vw !important;
  }
  .book-heading {
    font-size: 3vw !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  .hide-on-small {
    display: none;
  }

  .hide-on-super-small {
    display: none;
  }
  .containerBook {
    height: 100vw !important;
  }
}

@media (min-width: 200px) and (max-width: 450px) {
  .book-text {
    font-size: 2.45vw !important;
  }
  .book-heading {
    font-size: 3vw !important;
    margin-top: 0.2rem !important;
    margin-bottom: 0.4rem !important;
  }

  .hide-on-small {
    display: none;
  }

  .hide-on-super-small {
    display: none;
  }
  .containerBook {
    height: 100vw !important;
  }
}
